.rc-full-width {
    width: 90%;
}

.rc-left {
    float: left;
    width: 100px;
}

.rc-channel {
    display: block;
    padding-left: 20px;
    font-size: 20px;
}
.active {
    background: red;
}

.rc-main {
    height: 100%
}

#id-div-chats {
    /*background: red;*/
    height: 80%;
    overflow-y: scroll;
}

.rc-input {
    /*height: 200px;*/
    position: fixed;
    bottom: 0px;
    left: 100px;
}
