<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/drrr.css">
    <link rel="stylesheet" href="/static/chat.css">
    <title>个人资料</title>
    <style media="screen">
        body {
            margin: 30px;
        }
        input, button, select {
            color: black;
        }
    </style>
</head>
<body>
  <div class="head">
    <div class="left title">聊天室 > <a href="/">返回聊天室</a></div>
  </div>
<div class="background">
    <div>用户名： {{ user.username }}</div>
      <div>
        <form action="/user/update_password" method="post">
          密码：<input name="password" value="">
          <button>修改密码</button>
        </form>
      </div>

      <div>头像：当前选择为"{{ user.avatar }}"</div>

      <div>
        预览：
        <div>
            <dl class="talk {{ user.avatar }}">
                <dt class="dropdown">
                    <div class="avatar avatar-{{ user.avatar }}"></div>
                    <div class="name" data-toggle="dropdown">
                        <span class="select-text">{{ user.username }}</span>
                    </div>
                    <ul class="dropdown-menu" role="menu"></ul>
                </dt>
                <dd class="bounce">
                    <div class="bubble">
                        <div class="tail-wrap center" style="background-size: 65px;">
                            <div class="tail-mask"></div>
                        </div>
                        <p class="body select-text">大家好，我是{{ user.username }}</p>
                    </div>
                </dd>
            </dl>
        </div>
      </div>

      <div>
        <form action="/user/update_avatar" method="post">
          <select name="avatar">
              <option value='tanaka'>tanaka<div class="avatar avatar-{{ user.avatar }}"></div></option>
              <option value='kanra'>kanra</option>
              <option value='zawa'>zawa</option>
              <option value='zaika'>zaika</option>
              <option value='gg'>gg</option>
              <option value='setton'>setton</option>
              <option value='kakka'>kakka</option>
              <option value='eight'>eight</option>
              <option value='bakyura'>bakyura</option>
              <option value='kuromu-2x'>kuromu-2x</option>
              <option value='zaika-2x'>zaika-2x</option>
              <option value='kanra-2x'>kanra-2x</option>
              <option value='sharo-2x'>sharo-2x</option>
              <option value='bakyura-2x'>bakyura-2x</option>
              <option value='gaki-2x'>gaki-2x</option>
              <option value='saki-2x'>saki-2x</option>
              <option value='rotchi-2x'>rotchi-2x</option>
              <option value='tanaka-2x'>tanaka-2x</option>
              <option value='kyo-2x'>kyo-2x</option>
              <option value='setton-2x'>setton-2x</option>
              <option value='san-2x'>san-2x</option>
              <option value='junsui-2x'>junsui-2x</option>
              <option value='ya-2x'>ya-2x</option>
          </select>
          <button>修改头像</button>
        </form>
      </div>

</div>
</body>
</html>
